Repository nozzlegear/ShopifySharp, pull requests merged in 2018-05, with the labels that each got.

#249 DraftOrderService
  ShopifySharp.Tests/DraftOrder_Tests.cs
  ShopifySharp/Entities/AppliedDiscount.cs
  ShopifySharp/Entities/DraftLineItem.cs
  ShopifySharp/Entities/DraftOrder.cs
  ShopifySharp/Entities/DraftOrderInvoice.cs
  ShopifySharp/Filters/DraftOrderFilter.cs
  ShopifySharp/Services/DraftOrder/DraftOrderService.cs
  readme.md
Labels: new service

#250 Added FulfillmentServiceService
  ShopifySharp.Tests/FulfillmentService_Tests.cs
  ShopifySharp.Tests/Fulfillment_Tests.cs
  ShopifySharp.Tests/ShopifySharp.Tests.csproj
  ShopifySharp/Entities/FulfillmentServiceEntity.cs
  ShopifySharp/Filters/ListFilter.cs
  ShopifySharp/Services/Fulfillment/FulfillmentService.cs
  ShopifySharp/Services/FulfillmentService/FulfillmentServiceService.cs
Labels: new service

#255 Added Missing Properties to Fulfillment Class
  ShopifySharp/Entities/Fulfillment.cs
Labels: missing or invalid properties

#256 Added Create, Delete, and Update methods for InventoryLevelService
  ShopifySharp.Tests/FulfillmentService_Tests.cs
  ShopifySharp.Tests/InventoryLevel_Tests.cs
  ShopifySharp/Services/InventoryLevel/InventoryLevelService.cs
Labels: missing or invalid methods
