Repository nozzlegear/ShopifySharp, pull requests merged in 2022-08, with the labels that each got.

#738 Sales channel REST API implementation
  ShopifySharp.Tests/SalesChannel/CheckoutSalesChannel_Tests.cs
  ShopifySharp.Tests/SalesChannel/CollectionListing_Tests.cs
  ShopifySharp.Tests/SalesChannel/ProductListing_Tests.cs
  ShopifySharp/Entities/CollectionListing.cs
  ShopifySharp/Entities/OptionValue.cs
  ShopifySharp/Entities/ProductListing.cs
  ShopifySharp/Entities/ProductListingVariant.cs
  ShopifySharp/Entities/SalesChannel/CardVault.cs
  ShopifySharp/Entities/SalesChannel/CheckoutSalesChannel.cs
  ShopifySharp/Entities/SalesChannel/CheckoutSalesChannelLineItem.cs
  ShopifySharp/Entities/SalesChannel/CreatePayment.cs
  ShopifySharp/Entities/SalesChannel/CreditCard.cs
  ShopifySharp/Entities/SalesChannel/PaymentCreditCard.cs
  ShopifySharp/Entities/SalesChannel/PaymentSalesChannel.cs
  ShopifySharp/Entities/SalesChannel/SalesChannelPaymentRequestDetails.cs
  ShopifySharp/Filters/ListFilter.cs
  ShopifySharp/Filters/ProductListingListFilter.cs
  ShopifySharp/Services/SalesChannel/CheckoutSalesChannelService.cs
  ShopifySharp/Services/SalesChannel/CollectionListingService.cs
  ShopifySharp/Services/SalesChannel/ProductListingService.cs
Labels: new service

#767 Implement FulfillmentOrderService.GetAsync
  ShopifySharp/Services/FulfillmentOrders/FulfillmentOrderService.cs
  ShopifySharp/Services/FulfillmentRequest/FulfillmentRequestService.cs
Labels: enhancement, missing or invalid methods

#512 added support for multipass url generator
  ShopifySharp.Tests/Multipass_Tests.cs
  ShopifySharp.Tests/Utils.cs
  ShopifySharp.Tests/env.yml.template
  ShopifySharp/Services/Multipass/MultipassService.cs
  readme.md
Labels: new feature, new service

#778 Fix issue with parsing empty querystring values during request validation
  .gitignore
  ShopifySharp.Tests/Authorization_Tests.cs
  ShopifySharp/Services/Authorization/AuthorizationService.cs
Labels: bug, request validation
